.frame {

    display: flex;

    align-items: center;
    justify-content: center;

    width: 400px;
    height: 400px;

    background-color: #E56262;
}

.frame__center {

    width:50%;
    height:50%;
    position: relative;

}

.frame__circle {

    background-color: #fff;
    position: absolute;
    border-radius: 50%;

}

.frame__outer-circle {

    width:100px;
    height:100px;

    top: 50px;
    left: 50px;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);

    animation: shrink-outer 2s cubic-bezier(0.21, 0.98, 0.6, 0.99)  infinite alternate;

}

.frame__middle-circle {

    width:70px;
    height:70px;
    left: 64px;
    top: 64px;
    box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.3);

    animation: shrink-middle 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;

}

.frame__inner-circle {

    width: 40px;
    height: 40px;
    top: 79px;
    left: 79px;
    
    box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.3);
    animation: shrink-inner 2s cubic-bezier(0.21, 0.98, 0.6, 0.99)  infinite alternate;
}

@keyframes shrink-inner {
    0%, 70%{ transform: scale(0);}
    100%{ transform:scale(1);}
}

@keyframes shrink-middle {
    0%, 40% { transform: scale(0); }
    100% { transform: scale(1); }
}

@keyframes shrink-outer {
    0%, 10% { transform: scale(0);}
    100% { transform:scale(1);}
}