.frame {

    background-color: #272C34;
    position: relative;
    width: 400px;
    height: 400px;

}



.frame__content-center {
    position: absolute;
    border-radius: 50%;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width:200px;
    height:200px;
    background-color: #fff;
    overflow: hidden;

    animation: opacity-intro-outro 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;

}

.frame__content-sky {
    
    background: #7DDFFC;
    height:135px;

}

.frame__content-sun {

    width:34px;
    height: 34px;
    border-radius: 50%;

    position: absolute;
    
    top: 7px;
    left: 80px;

    background-color: #FFEF00;

    transform-origin: 50% 400%;
    animation: sun-movement 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.frame__content-piramid-left {

    position: absolute;
    top: 78px;
    left: 51px;

    height: 57px;
    width: 100px;

    background-color: #F4F4F4;
    clip-path: polygon(50% 0, 0 100%, 70% 100%);
    animation: darken-wall 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.frame__content-piramid-right {
    
    position: absolute;
    top: 78px;
    left: 51px;

    height: 57px;
    width: 100px;
    
    background-color:#DDDADA;
    clip-path: polygon(50% 0, 70% 100%, 100% 100%);

    animation: darken-wall 4s cubic-bezier(0.4, 0, 0.49, 1) infinite reverse;
}

.frame__content-shadow {

    position:absolute;
    height: 50px;
    width:300px;

    clip-path: polygon(100% 25%, 17% 0, 50% -10%);
    background: rgba(0, 0, 0, 0.2);

    animation: shadow-movement 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.frame__content-sand {
    height: 67px;
    background: #F0DE75;
}

@keyframes opacity-intro-outro {
    0% {opacity: 0;}
    50% { opacity: 1;}
    100% { opacity: 0;}
}

@keyframes sun-movement {
    
    0%{transform: rotate(-70deg);}
    30%{transform: rotate(-28deg);}
    100%{transform: rotate(70deg);}
}

@keyframes darken-wall {
    30%{ background-color: #F4F4F4;}
    70%{ background-color:#DDDADA;}
}

@keyframes shadow-movement {
    0% {}
    30% {clip-path: polygon(100% 90%, 17% 0%, 50% 0%);}
    90%{ clip-path: polygon(-15% 17%, 17% 0%, 51% 0%);}

}
