body{
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.frame {

    width: 400px;
    height: 400px;

    background-color: #42A7A1;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
}

.frame__report {

    width: 70%;
    height: 55%;

    display:flex;
    flex-flow: column nowrap;
    align-items: stretch;

    background-color: #fff;
    border-radius: 2px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.frame__report-header {
    height: 28%;
    background-color: #F1BA64;

    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
}

.frame__report-header-column {

    display:flex;
    flex-flow: column nowrap;
    padding: 12px 15px 0px 15px;    
}

.frame__report-header-column-left {
    align-items: flex-start;
}
.frame__report-header-column-right {
    align-items: flex-end;
}

.frame__report-header-text {
    color:#fff;
}

.frame__report-header-text_bold_600 {
    font-weight: 600;
}

.frame__report-header-text_bold_400 {
    font-weight: 400;
}

.frame__report-header-text_size_14 {
    font-size: 14px;
}

.frame__report-header-text_size_11 {
    font-size: 11px;
}

.frame__report-graph {
    height: 50%;
}

.frame__report-footer {
    height: 17%;
}